@charset "UTF-8";@font-face{font-family:'Matter Bold';src:url("../fonts/MatterSQ-Bold.eot");src:url("../fonts/MatterSQ-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MatterSQ-Bold.woff2") format("woff2"), url("../fonts/MatterSQ-Bold.woff") format("woff"), url("../fonts/MatterSQ-Bold.ttf") format("truetype");font-weight:bold;font-style:normal}@font-face{font-family:'Matter';src:url("../fonts/Matter-Light.eot");src:url("../fonts/Matter-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Matter-Light.woff2") format("woff2"), url("../fonts/Matter-Light.woff") format("woff"), url("../fonts/Matter-Light.ttf") format("truetype");font-weight:300;font-style:normal}


* {
    box-sizing: border-box;
}

body {
    font-family: "Matter";
    
}

body, p {
    margin: 0;
}


#logo {
    grid-area: logo;
padding:  20px 20px 0 20px;

}

#title {
    grid-area: title;
    
}

#btn-player {
    grid-area: btn-player;
}

#btn-player img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
    "logo btn-player"
    ". btn-player"
    "title btn-player"
    ;
    background-color: #ffcc00;
}

@media (max-width: 992px) {
    .container {
        /* grid-template-columns: 1fr;
        grid-template-rows: 20vh 60vh 20vh;
        grid-template-areas:
        "logo"
        "btn-player"
        "title "
        ; */
        display: block;
    }
}

.img1 {
    background-color: #660099;
}