:root {
    --yellow-bg: #ffcc00;
    --purple-bg: #660099;
    --blue-bg: rgb(0, 153, 255);
    --red-bg: rgb(255, 51, 51);
}


* {
    box-sizing: border-box;
}

.bg-yellow {
    background-color: #ffcc00;
}

.bg-red {
    background-color: var(--red-bg);
}


ul {
    padding-inline-start: 0;
    list-style-type: none;
}


body, p, h3, h2, h3, h4, ul, hr {
    margin: 0;
}

h2, h3, h4 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}


#logo {
    grid-area: logo;
    padding:  20px 20px 0 20px;
    max-width: 41.66667%;

}

#logo img {
    max-width: 100%;
}

.bg-purple {
    background-color: var(--purple-bg);
}

#title {
    grid-area: title;
    margin-left: 1rem;
}

#now {
    padding-bottom: 10px;
    font-size: 1.4rem;
}

#artist {
    font-size: 36px;
    font-weight: bold;
}

#song {
    padding-bottom: 40px;
}

#btn-player {
    grid-area: btn-player;
}

#btn-player img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.y-bg {
    background-color: var(--yellow-bg);
}


.container-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
    "logo btn-player"
    ". btn-player"
    "title btn-player"
    ;
    background-color: var(--yellow-bg);
}

@media (max-width: 992px) {
    .container-header {
        display: block;
    }

    #btn-player img {
        width: 40%;
        height: auto;
        margin: 1rem;
    }

}

.img1 {
    background-color: #660099;
}

.big-title {
    position: relative;
    min-height: 100vh;
}

#j-logo {
    max-height: 80%;
    position: absolute;
    bottom: 0;
}

.big-title h2 {
    box-sizing: border-box;
    font-weight: 300;
    font-size: 200px;
    letter-spacing: -8.25px;
    text-transform: capitalize;
}



#third-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--yellow-bg);
}


#billboard h3 {
    display: inline;
    margin-left: 1rem;
}

#billboard-list-container {
    padding: 40px 0 80px 0;
}

#billboard-list-container .sphere-container {
    margin-bottom: 8rem;
}

@media (max-width: 1024px) {
    #third-section {
        display: block;
    }
}


#j-img {
    margin-top: 26rem;
} 


#billboard ul {
    list-style-type: none;
    padding: 0;
}

.flexed-line {
    display: flex;
    padding: 1.5rem 0;
    justify-content:space-between;
}

.flexed-line h4 {
    font-weight: 300;
} 
/* important */

.big-letter-container img {
    max-width: 100%;
    height: auto;
  }


#stations {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

@media (max-width: 1024px) {
    #stations {
        display: block;
    
    }
}


.big-letter-container {
    order: 1;
 }

 #online {
    display: inline;
    font-weight: normal;
 }

 .other-radios-list {
    text-decoration: none;
 }

 .border-y-t {
    border-top: 1px solid black;
 }

 .border-y-b {
    border-bottom: 1px solid black;
 }

 .flexed-title {
    display: flex;
    align-items:center;
 }

 .fz-60 {
    font-size: 60px;
 }

 .fz-110 {
    font-size: 110px;
 }

 .fz-200 {
    font-size: 200px;
 }

 .fz-24 {
    font-size: 24px;
 }

 .fz-18 {
    font-size: 18px;
 }

 .fz-16 {
    font-size: 16px;
 }

 .fz-40 {
    font-size: 40px;
 }

 .fz-60 {
    font-size: 60px;
 }

 .fz-30 {
    font-size: 30px;
 }

 /* .txt- */

 .px-20 {
    padding: 0 1.25rem;
 }

 .py-20 {
    padding: 1.25rem 0;
 }

 .me-20 {
    margin-right: 1.25;
 }

 .pb-40 {
    padding: 2.5rem;
 }

 .pb-8 {
    padding-bottom: 0.5rem;
}

.py-8 {
    padding: 1rem 0;
}

.py-20 {
    padding: 1.25rem 0;
}


#double-j-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.j-container {
    width: 100%;
}

.j-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#second-img {
    width: 100%;
    height: 100%;
}


#schedule {
    margin-top: 1rem;
}

.flexed-header {
    display: flex;
    justify-content: space-between;
}

.black-sphere-container {
    width: 500px;
}

.black-sphere {
    background-color: black;
    height: 11.5vw;
    width: 11.5vw;
    border-radius: 100%;
    top: 0;
    right: 0;
    margin-right: 20px;
}


@media (max-width: 1024px) {
    .black-sphere {
        height: 0;
        width: 0;
    }
}

#week-container {
    padding: 7.5rem 0;
}

#week-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    ". . mon"
    "tue wed ."
    ". thu ."
    ". . fri"
    "sat sun .";
}

@media (max-width: 990px) {
    #week-list {
        display: block;
    }
}

#week-list li {
    padding-bottom: 3rem;
}

#mon {
    grid-area: mon;
}
#tue {
    grid-area: tue;
}
#wed {
    grid-area: wed;
}
#thu {
    grid-area: thu;
}
#fri {
    grid-area: fri;
}
#sat {
    grid-area: sat;
}
#sun {
    grid-area: sun;
}

.capitalized {
    text-transform: capitalize;
}

.hour {
    padding-right: 1rem;
}


.sch-day-list {
    font-size: 24px;
}

.day {
    font-size: 110px;
    padding: 1.25rem 0 3rem 0;
}

.txt-lg {
    font-size: 6.875rem;
}


.scrolling-text {
    white-space: nowrap; 
    /* display: inline-block; */
    font-size: 24px;
    font-weight: bold;
    left: -100%;
    animation: scrollText 10s linear infinite;
    line-height: 240px;
}
  
@keyframes scrollText {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100vw);
    }
}

#animation-container hr {
    border: 1px solid black;
}

#animation-container {
    font-size: 200px;

}

#sheep {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--blue-bg);
    color: white;
    padding: 40px 0 120px 0 ;
}

@media (max-width: 1000px) {
    #sheep {
        display: block;
    }
}



#sheep-img-container {
    margin-left: 8%;
}
  

.sheep-container {
    display: flex;
    justify-content: center;
}

.flex-j-center {
    display: flex;
    justify-content: center;
}

#event-list li {
    border-top: solid 1px white;
}

#event-list li:last-child {
    border-bottom: solid 1px white;
}

#event-header {
    padding-bottom: 60px;
}

.f-w-h {
    width: 100%;
    height: 100%;
}

#contacts {
    background-color: #ffcc00;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
}

@media (max-width: 1024px) {
    #contacts {
        display: block;
    }
}




#contact-data {
    margin-top: 16.25rem;
}

#contact-data div  {
    border-top: solid 1px black;
}



.sphere-container {
    display: flex;
    justify-content: end;
}


#address {
    line-height: 40px;
}



#go-back-arrow {
    background-color: var(--red-bg);
}

#mouth-container {
  background-color: #660099;  
}




footer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }
  
  .img-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 11.25rem;
  }
  
  .img-footer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
  }
  
  @media (max-width: 768px) {
    footer {
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr; 
      height: 50vh; 
    }
  }
  

  #go-back-arrow img {
    transition: transform 0.3s ease-in-out; 
  }

  #go-back-arrow:hover img {
    transform: rotate(-45deg); 
  }


.fixed {
    position: fixed;

}


.container {
    position: relative;
    background-color: inherit;
  }
  
.sticky-content {
    position: sticky;
    top: 20px;
}
  
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
